#container {
    width: 50%;
}

.headline {
  font-size: 20px;
  border: 1px solid #21b2a6;
  background-color: #c1f2e6;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  font-family: 'Bitter', serif;
}
